<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Exercise</th>
      <th>Set 1</th>
      <th>Set 2</th>
      <th>Set 3</th>
      <th>Set 4</th>
      <th>Set 5</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Some exercise will go here</td>
      <td>set 1 info</td>
      <td>set 2 info</td>
      <td>set 3 info</td>
      <td>set 4 info</td>
      <td>set 5 info</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Some exercise will go here</td>
      <td>set 1 info</td>
      <td>set 2 info</td>
      <td>set 3 info</td>
      <td>set 4 info</td>
      <td>set 5 info</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Some exercise will go here</td>
      <td>set 1 info</td>
      <td>set 2 info</td>
      <td>set 3 info</td>
      <td>set 4 info</td>
      <td>set 5 info</td>
    </tr>
  </tbody>
</table>