<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Workout App", root_path%></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li><a href="#">Some Right Button</a></li>
      <li class="has-dropdown">
        <a href="#"> Right Button Dropdown</a>
        <ul class="dropdown">
          <li><a href="#">1st Link in Dropdown</a></li>
          <li><a href="#">2nd Link in Dropdown</a> </li>
        </ul>
      </li>
    </ul>
    <ul class="left">
      <li><a href="#"> Left Nav Button</a> </li>
    </ul>
  </section>

</nav>